.container {
  width: 100%;
  min-height: 100vh;
  background: url('src/assets/img/background/background.png') no-repeat top, var(--main-dark-violet);
  background-size: contain;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 128px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.title {
  align-self: flex-start;
  text-transform: uppercase;
  background: #E0D8FF;
  background: linear-gradient(to right, #E0D8FF 0%, #EBC1FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}