

.player__container {

    padding-left: 20px;
    display: flex;
    justify-content: baseline;
    gap: 5px;
    img {
        border-radius: 2px;
    }

    h4 {
        color: var(--main-lime);
    }
    span {
        font-size: 12px;
    }
}

.level, .assists, .lhdh, .gmpxpm, .hd, .td, .hh {
    color: var(--main-brightest-violet);
}
.kills {
    color: var(--main-lime);
}
.deaths {
    color: var(--main-orange);
}
.net {
    color: var(--main-yellow);
}

.inventory {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
}
.items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

.backpack, .backpack__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.backpack {
    gap: 6px;
}

.backpack__list  {
    gap: 2px;
}

.items, .backpack__list {
    img {
        border-radius: 4px;
    }
}


.shard {
    display: flex;
    flex-direction: column;
}

.stuff {
    img {
        border-radius: 50%;
    }
}

.caption__container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-weight: bold;

    span {
        color: var(--main-brightest-violet);
    }
    h4 {
        color: white;
    }
    div {
        border-radius: 30px;
        padding: 10px 15px;
    }
}

.winner {
   color: var(--main-lime);
   background-color: rgba(187, 221, 0, .25); 
}

.loser {
    background-color: rgba(250, 112, 0, .25);
    color: var(--main-orange);
}

