.wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1000000000;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: OpenWrapper .2s;
}

.container {
  background-color: white;
  border-radius: 5px;
  padding: 20px 40px;
  animation: OpenContainer .2s;
}

@keyframes OpenWrapper {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, .5);
  }
}

@keyframes OpenContainer {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: var(--main-white);
  }
}