.wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1000000000;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: OpenWrapper .2s;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  animation: OpenContainer .2s;
  display: flex;
  flex-direction: column;
}

.header {
  align-self: flex-end;
}

.title {
  text-align: center;
  text-transform: uppercase;
  background: -moz-linear-gradient(45deg, rgba(117,64,240,1) 0%, rgba(123,97,255,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(117,64,240,1) 0%, rgba(123,97,255,1) 100%);
  background: linear-gradient(45deg, rgba(117,64,240,1) 0%, rgba(123,97,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7540f0",endColorstr="#7b61ff",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body {
  padding: 0 60px 30px 60px;  
}

.content {
  
}

@keyframes OpenWrapper {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, .5);
  }
}

@keyframes OpenContainer {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: var(--main-white);
  }
}
