.container {
  width: 100%;
  position: fixed;
}
.wrapper {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 480px) {
  .container {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
  }
}