.container {
  height: 70px;
  background-color: var(--main-dark-mask);
}
.wrapper {
  height: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
}
.navigation {
  display: flex;
  // flex-wrap: wrapcr
  gap: 40px;
  
}
.navigation__item {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .container {
    height: max-content;
    text-align: center;
  }
  .wrapper {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .navigation {
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}