.container {
  height: 70px;
  background-color: var(--main-dark-mask);
}
.wrapper {
  height: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  gap: 40px;
}
.navigation__item {
  cursor: pointer;
}