.container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;

    span {
        font-weight: normal;
    }
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    border: 2px solid var(--main-light-gray);
    height: 32px;
    width: 32px;
    outline: none;
    cursor: pointer;
    transition: .25s;
}

.checkbox_checked {
    transition: .25s;
    background-color: var(--main-bright-violet);
    position: relative;
    background-image: url('../../../../assets/img/icons/check/check_white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border-color: var(--main-bright-violet);
}