.rc-table {
  overflow-x: auto;
  width: 100%;
}
.rc-table-footer {
  position: sticky;
  left: 0;
  z-index: 1;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 16px;

  td {
    vertical-align: middle;
  }
  
  td, th {
    // border: 1px solid var(--main-violet);
    padding: 20px 40px;
  }
  thead {
    color: var(--main-white);
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--main-violet);

    th {
      text-align: left;
      &:nth-child(1) {
        padding-left: 20px;
        border-radius: 10px 0 0 0;
      }
      &:nth-last-child(1) {
        border-radius: 0 10px 0 0;
      }
    }
  }

  tbody {

    color: var(--main-brightest-violet);

    tr {
      font-weight: 600;
      border-radius: 10px;
      border-left: 2px solid var(--main-violet);
      border-right: 2px solid var(--main-violet);
      border-bottom: 2px solid var(--main-violet);

      &:nth-child(1n) {
        background-color: rgba(16, 0, 37, 0.15);
      }
      &:nth-child(2n) {
        background-color: rgba(16, 0, 37, 0.25);
      }

    }
  }

}

.details__table {
  caption {
    background-color: rgba(16, 0, 37, 0.15);
    border-radius: 10px 10px 0 0;
    border: 2px solid var(--main-violet);
  }
  

  th, td {
    padding: 20px 10px;
  }

  th {
    text-align: left;
    &:nth-child(1) {
      border-left: 1px solid var(--main-violet);
      border-radius: 0 0 0 0;
    }
    &:nth-last-child(1) {
      border-right: 1px solid var(--main-violet);
      border-radius: 0 0 0 0;
    }
  }

  th {
    &:nth-child(3) {
      color: var(--main-lime);
    }
  }
  th {
    &:nth-child(4) {
      color: var(--main-orange);
    }
    &:nth-child(7) {
      color: var(--main-yellow);
    }
  }
}