@import "src/assets/mixins/buttonMixin";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.filled_normal {
  @include buttonFilled(
                  var(--main-white),
                  var(--main-black),
                  var(--main-light-gray),
                  var(--main-black),
                  var(--main-gray),
                  var(--main-light-gray)
  );
}

.filled_violet {
  @include buttonFilled(
    var(--main-bright-violet),
    var(--main-white),
    var(--main-lime),
    var(--main-white),
    var(--main-gray),
    var(--main-light-gray)
  )
}

.outline {
  @include buttonOutlined(
                  var(--main-white),
                  var(--main-lime),
                  var(--main-gray)
  );
}

.ghost {
  @include buttonOutlined(
                  transparent,
                  transparent,
                  transparent
  )
}
