.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 128px;
}

.actions {
    width: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}
.button {
    flex-grow: 1;
}

.info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    gap: 50px;
}

@media screen and (max-width: 480px) {
    .wrapper {
        gap: 50px;
    }
    .actions {
        width: 240px;
    }
    .navigation {
        flex-direction: column;
    }
}