.team__container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.team__title__container {

    h3 {
        color: var(--main-lime);
        font-weight: normal;
    }

}


.footer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: rgba(16, 0, 37, 0.15);
    border-radius: 0 0 10px 10px;
    border: 2px solid var(--main-violet);
    border-top: 0;

    h4 {
        color: white;
    }
    span {
        color: var(--main-brightest-violet);
    }
}